<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>B</key>
	<array>
		<dict>
			<key>name</key>
			<string>巴盟代表</string>
			<key>gender</key>
			<string>女</string>
			<key>age</key>
			<string>23</string>
			<key>hobby</key>
			<string>女</string>
		</dict>
	</array>
	<key>C</key>
	<array>
		<dict>
			<key>name</key>
			<string>成都代表</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>22</string>
			<key>hobby</key>
			<string>coding</string>
		</dict>
		<dict>
			<key>name</key>
			<string>常州代表</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>23</string>
			<key>hobby</key>
			<string>看海贼王，玩LOL，打羽毛球</string>
		</dict>
	</array>
	<key>D</key>
	<array>
		<dict>
			<key>name</key>
			<string>大洋代表</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>23</string>
			<key>hobby</key>
			<string>打电脑，打羽毛球</string>
		</dict>
		<dict>
			<key>name</key>
			<string>德州代表</string>
			<key>gender</key>
			<string>女</string>
			<key>age</key>
			<string>22</string>
			<key>hobby</key>
			<string>王者羽毛球到青铜羽毛球400</string>
		</dict>
	</array>
	<key>G</key>
	<array>
		<dict>
			<key>name</key>
			<string>高雄代表</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>23</string>
			<key>hobby</key>
			<string>看电影听音乐打羽毛球</string>
		</dict>
		<dict>
			<key>name</key>
			<string>广州代表</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>22</string>
			<key>hobby</key>
			<string>篮球和打羽毛球</string>
		</dict>
	</array>
	<key>H</key>
	<array>
		<dict>
			<key>name</key>
			<string>呼和浩特代表</string>
			<key>gender</key>
			<string>女</string>
			<key>age</key>
			<string>22</string>
			<key>hobby</key>
			<string>喜欢到处跑，尝试新事物，外表强悍内心柔弱哦~</string>
		</dict>
		<dict>
			<key>name</key>
			<string>河南代表</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>23</string>
			<key>hobby</key>
			<string>我们不管输赢，你们的井盖。。。嘻嘻</string>
		</dict>
	</array>
	<key>J</key>
	<array>
		<dict>
			<key>name</key>
			<string>吉林代表</string>
			<key>gender</key>
			<string>女</string>
			<key>age</key>
			<string>27</string>
			<key>hobby</key>
			<string>音乐，徒步，打羽毛球</string>
		</dict>
		<dict>
			<key>name</key>
			<string>济南代表</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>22</string>
			<key>hobby</key>
			<string>吃饭，睡觉，打羽毛球。。。。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>江西代表</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>23</string>
			<key>hobby</key>
			<string>打羽毛球的电影</string>
		</dict>
		<dict>
			<key>name</key>
			<string>江苏</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>21</string>
			<key>hobby</key>
			<string>爱好 女</string>
		</dict>
	</array>
	<key>L</key>
	<array>
		<dict>
			<key>name</key>
			<string>泸州代表</string>
			<key>gender</key>
			<string>女</string>
			<key>age</key>
			<string>22</string>
			<key>hobby</key>
			<string>旅游</string>
		</dict>
		<dict>
			<key>name</key>
			<string>漓江代表</string>
			<key>gender</key>
			<string>女</string>
			<key>age</key>
			<string>22</string>
			<key>hobby</key>
			<string>看电影</string>
		</dict>
		<dict>
			<key>name</key>
			<string>隆江代表</string>
			<key>gender</key>
			<string>女</string>
			<key>age</key>
			<string>22</string>
			<key>hobby</key>
			<string>音乐、舞蹈、旅行</string>
		</dict>
		<dict>
			<key>name</key>
			<string>丽江代表</string>
			<key>gender</key>
			<string>女</string>
			<key>age</key>
			<string>22</string>
			<key>hobby</key>
			<string>吃</string>
		</dict>
		<dict>
			<key>name</key>
			<string>临河代表</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>22</string>
			<key>hobby</key>
			<string>吃东西，打篮球</string>
		</dict>
		<dict>
			<key>name</key>
			<string>柳州代表</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>22</string>
			<key>hobby</key>
			<string>play</string>
		</dict>
		<dict>
			<key>name</key>
			<string>辽宁代表</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>21</string>
			<key>hobby</key>
			<string>爱唱歌，爱电影，爱老婆</string>
		</dict>
	</array>
	<key>M</key>
	<array>
		<dict>
			<key>name</key>
			<string>蒙古代表</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>22</string>
			<key>hobby</key>
			<string>我们都爱打羽毛球～</string>
		</dict>
	</array>
	<key>P</key>
	<array>
		<dict>
			<key>name</key>
			<string>蓬莱代表</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>21</string>
			<key>hobby</key>
			<string>听歌 看电影 看书 LOL 海贼王</string>
		</dict>
	</array>
	<key>R</key>
	<array>
		<dict>
			<key>name</key>
			<string>日本代表</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>22</string>
			<key>hobby</key>
			<string>刘金瓦凯亚羽毛球</string>
		</dict>
	</array>
	<key>S</key>
	<array>
		<dict>
			<key>name</key>
			<string>苏州代表</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>21</string>
			<key>hobby</key>
			<string>上网，骑行</string>
		</dict>
		<dict>
			<key>name</key>
			<string>商都代表</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>23</string>
			<key>hobby</key>
			<string>爱好 音乐</string>
		</dict>
	</array>
	<key>T</key>
	<array>
		<dict>
			<key>name</key>
			<string>通辽代表</string>
			<key>gender</key>
			<string>女</string>
			<key>age</key>
			<string>22</string>
			<key>hobby</key>
			<string>看电影</string>
		</dict>
	</array>
	<key>W</key>
	<array>
		<dict>
			<key>name</key>
			<string>武汉代表</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>24</string>
			<key>hobby</key>
			<string>与人交往，琴棋书画</string>
		</dict>
		<dict>
			<key>name</key>
			<string>威海代表</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>27</string>
			<key>hobby</key>
			<string>台球，游泳。虽然我很胖，但是我打羽毛球很浪</string>
		</dict>
	</array>
	<key>X</key>
	<array>
		<dict>
			<key>name</key>
			<string>薛家湾代表</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>23</string>
			<key>hobby</key>
			<string>tx我认识</string>
		</dict>
		<dict>
			<key>name</key>
			<string>徐州代表</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>22</string>
			<key>hobby</key>
			<string>女</string>
		</dict>
		<dict>
			<key>name</key>
			<string>西宁代表</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>30</string>
			<key>hobby</key>
			<string>女</string>
		</dict>
	</array>
	<key>Y</key>
	<array>
		<dict>
			<key>name</key>
			<string>云南代表</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>22</string>
			<key>hobby</key>
			<string>音乐，篮球</string>
		</dict>
		<dict>
			<key>name</key>
			<string>永安代表</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>23</string>
			<key>hobby</key>
			<string>女</string>
		</dict>
		<dict>
			<key>name</key>
			<string>余杰</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>21</string>
			<key>hobby</key>
			<string>我的羽毛球贼厉害</string>
		</dict>
	</array>
	<key>Z</key>
	<array>
		<dict>
			<key>name</key>
			<string>漳州代表</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>24</string>
			<key>hobby</key>
			<string>玩</string>
		</dict>
		<dict>
			<key>name</key>
			<string>中国澳门代表</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>25</string>
			<key>hobby</key>
			<string>篮球</string>
		</dict>
		<dict>
			<key>name</key>
			<string>中卫代表</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<integer>21</integer>
			<key>hobby</key>
			<string>打羽毛球</string>
		</dict>
	</array>
</dict>
</plist>
